@import '../../../assets/styles/colors.css';

.container {
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.navbar {
  border-radius: var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar li{
  list-style: none;
  margin-right: 2rem;
  color: #fff;
  font-size: 0.9rem;
}

.navbar li a {
  text-decoration: none;
  color: white;
  transition: all 200ms ease-in;
}

.navbar li a:hover {
  color: var(--clr-primary-hover);
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

.btnPrimary {
  font-family: Montserrat, sans-serif;
  background: var(--clr-primary);
  border: none;
  outline: none;
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.btnPrimary:hover {
  background: var(--clr-primary-hover);
}


@media (max-width: 600px) {
  .navbar li{
    margin-right: 0.3rem;
    font-size: 0.9rem;
  }
}